<button (click)="modalService.open(bookingModal)" class="btn m-2 btn-ghost">Zeige Buchungen
</button>

<ng-template #bookingModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title title">Made Bookings</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let booking of bookings; index as i" class="bookings-inner-container">
            <p><span>Daten:</span> {{booking.startAt | formatDate}} - {{booking.endAt | formatDate}} </p>
            <p><span>Gäste:</span> {{booking.guests}}</p>
            <p><span>Gesamtpreis:</span> {{booking.totalPrice}} €</p>
            <hr *ngIf="i < bookings.length-1">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-bsw" (click)="c('Close click')">Schließen</button>
    </div>
</ng-template>
